@* ExcludeFromCodeCoverage *@
@using Implementacija.Services;

@model IEnumerable<Implementacija.Models.Koncert>
@inject IRezervacijaManager rezervacijaManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Izvodjac"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.izvodjacId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zanr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (!User.IsInRole("Iznajmljivac") || rezervacijaManager.HasReservation(item.izvodjacId))
            {
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.izvodjacId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zanr)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                </tr>
            }
        }
    </tbody>
</table>
