@model Implementacija.Models.RezervacijaKarte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RezervacijaKarte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rezervacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rezervacija.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.obicniKorisnikId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.obicniKorisnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipMjesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipMjesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.koncert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.koncert.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
