@model IEnumerable<Implementacija.Models.RezervacijaKarte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rezervacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.obicniKorisnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipMjesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.koncert)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rezervacija.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obicniKorisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipMjesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.koncert.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
